/* colors */
$primary-color: #5680ad;
$secondary-color: #6c757d;
$success_color: #68ac78;
$danger-color: #dc3545;

$bg-primary: #ffffff;
$bg-secondary: #f5f5f5;
$text-primary: #333333;
$text-secondary: #666666;
$border-color: #c7c1c1;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

$bg-primary-dark: #141313;
$bg-secondary-dark: #383737;
$text-primary-dark: #ffffff;
$text-secondary-dark: #cccccc;
$border-color-dark: #444444;
$shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.3);

/* size */
$border-radius: 6px;
$padding: 8px 16px;
