@import '../../../style/utils/variables';

.button {
    padding: $padding;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &.primary {
        background: $primary-color;
        color: white;
    }

    &.hover {
        background-color: darken($primary-color, 10%);
    }

    &.secondary {
        background-color: $secondary-color;
        color: white;
    }

    &.danger {
        background-color: $danger-color;
        color: white 
    }

    &.success {
        background-color: $success_color;
        color: white
    }  

    &.all:focus {
        background: $success_color;

        &.dark {
            background: $bg-secondary-dark;
            color: white;
            border: $border-color-dark solid 1px;
        }
    }

    &.active:focus {
        background: $success_color;

        &.dark {
            background: $bg-secondary-dark;
            color: white;
            border: $border-color-dark solid 1px;
        }
    }

    &.completed:focus {
        background: $success_color;

        &.dark {
            background: $bg-secondary-dark;
            color: white;
            border: $border-color-dark solid 1px;
        }
    }

    &.dark {
        background: $text-primary-dark;
        border: $border-color-dark solid 1px;
        color: $text-secondary;
        border-color: $border-color-dark;
    }
}

.button:hover {
    opacity: 0.6;
}