@import 'utils/variables';
@import 'utils/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

body {
  background: $bg-primary;
  color: $text-primary;
  transition: all 0.3s ease;

  &.dark {
    background: $bg-primary-dark;
    color: $text-primary-dark;
  }
}

.App {
    display: flex;
    margin: 10px;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}


