@import '../../../style/utils/variables';

.input {
    padding: $padding;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    font-size: 16px;
    outline: none;
    width: 100%;
    transition: border-color 0.3s ease;

    &[type="checkbox"] {
        width: auto;
        width: 20px;
        height: 15px;
        cursor: pointer;
    }

    &:focus {
        border-color: $primary-color;
    }

    &.primary {
        border-color: $primary-color;
    }

    &.danger {
        border-color: $danger-color
    }

    &.success {
        border-color: $success_color
    }

    &.secondary {
        border-color: $secondary-color
    }

    &:disabled {
        background-color: #f5f5f5;
        cursor: not-allowed;
    }
}