@import '../../../style/utils/variables';

.taskitem {
    display: flex;
    justify-content: space-between;
    width: 600px;
    border: 1px solid $border-color;
    padding: $padding;
    align-items: center;  
    border-radius: $border-radius;
    background: $bg-secondary;
    color: $text-primary;

    &.dark {
        background: $bg-secondary-dark;
        color: $text-primary-dark;
        border-color: $border-color-dark;
    }
}